body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #28273C;
  color: #fff;
  font-family: Arial, sans-serif;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  width: 100%;
  background: #28273C;
  color: #fff;
  box-sizing: border-box;
}

.logo {
  font-size: 36px;
  margin: 0;
}

.slogan {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  color: #000;
  height: 120px;
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.container-content {
  width: 100%;
}

.container p {
  margin: 10px 0;
}

.buttons {
  display: block; /* Change from flex-direction: column; to display: block; */
  text-align: center; /* Center align the buttons */
  margin-top: 40px;
  
}

.button1,
.button2 {
  padding: 10px 20px;
  margin: 5px 0; /* Add margin to create space between buttons */
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
  border-radius: 5px;
  display: block; /* Change to display: block; to stack buttons vertically */
  text-align: center; /* Center align the text within buttons */
}

.button1:hover,
.button2:hover {
  background-color: #b6adad18;
  color: #fff;
}

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header{
    height: fit-content;
  }
}
