/* Styles for the main login container */
.background-2 {
  background: #fff;
  padding: 50px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Close button (Arrow icon) styling */
.close-button {
  position: absolute;
  top: 10px;
  left: 10px; /* Position it at the top left corner */
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 170vh; 
}

button#now {
  width: 97%;
  margin: 10px auto;
}


label {
  margin-bottom: 5px;
}
input#password{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  width: 95%;
  border-bottom: 1px solid #000;
}

input {
  width: 100%; /* Occupies full width */
  margin-bottom: 15px; /* Increased margin */
  padding: 10px; /* Increased padding */
  border-radius: 5px; /* Slightly rounded corners */
  border: 1px solid #000;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Styles for forgot password and social icons */
.forgot-password {
  margin-top: 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  text-decoration: none;
  color: #3498db;
  margin: 0 5px;
}
