.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #28273C; /* Background-1 */

  &::before {
    content: '';
    width: 543px;
    height: 543px;
    border-radius: 543px;
    opacity: 0.2;
    background: #383850; /* Background-2 */
    position: absolute;
    z-index: 2;
  }
}


.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
  margin: 10px 0;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  text-align: left;
  margin: 10px 0;
}

button {
  background: #28273C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #000;
}

a {
  text-decoration: none;
  color: #28273C;
  display: block;
  margin-top: 10px;
}
