.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }

.login-container h2 {
    text-align: center;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 0px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bffa6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0057b3b7;
  }
  .checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
    font-size: 12px;
  }