/* Style for texts */
  
  .ready-text {
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 20px; /* Add left margin for spacing */
  }
  
  /* Style for the navigation bar */
  .navbar {
    background-color: #fff;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 0; 
    margin-right: 0;
    width: 100%;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-left: 10vh;
    font-weight: bold;
  }
  
  .navbar a {
    color: #000;
    text-decoration: none;
  }
  
  /* Style for the day container */
  .day-container {
    display: flex;
    flex-wrap: wrap; /* Allow containers to wrap to the next row */
    align-items: center;
    justify-content: space-between;
    min-height: 20vh; /* Increased height */
    max-width: 100%; /* Decreased maximum width */
    margin-left: 20px; /* Add left margin for spacing */
    margin-right: 20px; /* Add right margin for spacing */
  }
  
  /* Style for individual day boxes */
  .day {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1;
    text-align: center;
    color: #000; /* Black text */
    margin: 3px; /* Add space around individual day boxes */
  }
  
  /* Style for navigation arrows */
  .arrow-left,
  .arrow-right {
    background-color: #28273C;
    border: none;
    font-size: 14px;
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    width: 20px;
    height: 20px;
  }
  
  .arrow-left:disabled,
  .arrow-right:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .day-container {
      max-width: 100%; /* Limit the container width on smaller screens */
    }
  }
  