/* menu.css */

.ready-text {
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 20px;
}

/* Style for the navigation bar */
.navbar {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-left: 10vh;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

/* Style for the day container */
.day-container {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap to the next row */
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

/* Style for individual day boxes */
.day {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  text-align: center;
  color: #000;
  margin: 3px;
}

/* Style for navigation arrows */
.arrow-left,
.arrow-right {
  background-color: #28273C;
  border: none;
  font-size: 14px;
  padding: 5px 8px;
  cursor: pointer;
  color: white;
  width: 20px;
  height: 20px;
}

.arrow-left:disabled,
.arrow-right:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .day-container {
    max-width: 100%;
  }
}

/* Style for the date and time display */
.date-time {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
}

/* Additional styling for better visibility */
.date-time p {
  margin: 0;
}

/* Style for the circular container */
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0078d4a9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.circle.active {
  background-color: #dc143c; /* Change the color when active (timer is running) */
}

/* Additional styling for better visibility */
.circle:hover {
  background-color: #7795aa; /* Change the color on hover */
}

/* Style for the elapsed time text */
.timer-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

/* Style for the "Start" and "Stop" buttons */
.circle:active {
  transform: scale(0.95); /* Add a pressed effect when clicking */
}

/* Style for the circular container */
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0078d4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.circle.active {
  background-color: #dc143c; /* Change the color when active (timer is running) */
}

/* Style for the Reset button */
.reset-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.reset-button:hover {
  background-color: #444; /* Change the color on hover */
}

.reset-button:focus {
  outline: none; /* Remove focus outline on click */
  border: none;
}

/* Style for the category heading */
.image-category {
  text-align: center;
  margin-top: 20px;
}

.category-heading {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-right: 155vh;
}

/* Style for the individual images */
.image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container img {
  width: 200px;
  height: 40vh;
  cursor: pointer;
  border-radius: 10px;
  z-index: 0; /* Set the initial z-index */
  transition: transform 0.2s, z-index 0.2s;
  margin: auto;
}

.image-container img:hover {
  transform: scale(1.1); 
  z-index: 1; 
}
/* Style for the navigation button */
.navigate-button {
  background-color: #778794;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  margin-top: 20px; 
  z-index: 2; 
}


.navigate-button:hover {
  background-color: #080a0cb0; 
}

.navigate-button:focus {
  outline: none; /* Remove focus outline on click */
  border: none;
}


@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .image-container img {
    margin-bottom: 20px;
  }
}
/* Style for the dropdown menu */
.menu-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #ffffffe8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 40px; /* Adjust the distance from the "Menu" link */
  right: 0;
  width: 100%;
  height: 100vh;
}

.menu-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.menu-dropdown li {
  padding: 10px;
}

.menu-dropdown a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Style for menu items */
.menu-dropdown li:hover {
  background-color: #ccc; /* Change the background color on hover */
}
