.progress-container {
  text-align: center;
  padding: 20px;
  position: absolute;
  background: #fff;
  height: 85%;
  width: 96.5%; 
  border-radius: 0 0 25px 25px;
}

.back-arrow {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #000;
}

.page-heading {
  font-size: 24px;
  font-weight: bold;
  color: #000; 
  margin-top: 20px;
}

.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.progress-circle {
  width: 150px; 
  height: 150px; 
  border: 4px solid rgb(94, 193, 255); 
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(114, 201, 255); 
}


.step-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.step-count {
  font-size: 25px;
  color: #000; /* Step count color */
  margin-top: 10px;
}

.goal {
  font-size: 10px;
  color: #2c2b2b9a; /* Goal color */
  margin-top: 5px;
}

.today {
  font-size: 8px;
  color: #2c2b2b9a; /* Date color */
  margin-top: 5px;
}

.arrow {
  font-size: 24px;
  color: #000; /* Arrow color */
  cursor: pointer;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}
