.signup-container {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #504c4c;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  width: 99%;
  height: 90%;
}

h2 {
  font-size: 24px;
  color: #000;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 91%;
  margin-left: 10vh;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #3b3a3a;
  width: 95%;
}

button[type="signup"] {
  background-color: #383850;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1vh;
  width: 90%;
}

button:hover {
  background-color: rgba(0, 87, 179, 0.582);
}

p {
  color: #000;
  margin-left: 10vh;
}
.pop {
  background-color: #5da05fb2; 
  color: white; 
  padding: 15px; 
  text-align: center; 
  border-radius: 5px; 
  margin: 20vh auto; 
  width: fit-content;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}


.pop a {
  color: #ffffff;
  text-decoration: underline;
}

.pop a:hover {
  text-decoration: none; 
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.specific-margin {
  margin-left: 10vh;
}

/* Apply the specific margin only to certain span and a elements */
span.with-margin,
a.with-margin {
  display: inline;
  font-size: 14px;
}

.have-account-button {
  color: #fff;
  background-color: #383850;
  border: none;
  cursor: pointer;
  width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* New CSS for error messages */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Media query for smaller screens */
@media (max-width: 450px) {
  .form-group {
    width: 76%;
    margin-left: 6.5vh;
  }
}
