.terms-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    color: black;
  }
  
  /* .b-arrow {
    text-decoration: none;
    color: #000; 
    font-size: 24px;
    position: relative;
  } */
  
  h1 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  ol {
    list-style: decimal;
    padding-left: 20px;
  }
  
  li {
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  